<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Страховая компания</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4" style="background-image: url('../wwwroot/images/1.jpg')">Добро пожаловать в веб-приложение страховой компании</h1> <br> <br>
        <p>В данном веб-приложении вы можете заполнить таблицу данными о страховой компании.<br> Перейдите по любой из ссылок, представленных ниже, и введите данные.</p> <br> <br>
        <h1 class="display-4"><a href="https://localhost:44393/Sotrudnikis" style="color: darkorange; text-decoration: none;">Сотрудники компании</a></h1>
        <p style="color: lightgrey">———————</p>
        <h1 class="display-4"><a href="https://localhost:44393/Dolzhnostis" style="color: darkorange; text-decoration: none;">Должности</a></h1>
        <p style="color: lightgrey">———————</p>
        <h1 class="display-4"><a href="https://localhost:44393/Klienties" style="color: darkorange; text-decoration: none;">Клиенты</a></h1>
        <p style="color: lightgrey">———————</p>
        <h1 class="display-4"><a href="https://localhost:44393/GruppyKlientovs" style="color: darkorange; text-decoration: none;">Группы клиентов</a></h1>
        <p style="color: lightgrey">———————</p>
        <h1 class="display-4"><a href="https://localhost:44393/Polisies" style="color: darkorange; text-decoration: none;">Полисы</a></h1>
        <p style="color: lightgrey">———————</p>
        <h1 class="display-4"><a href="https://localhost:44393/VidyPolisovs" style="color: darkorange; text-decoration: none;">Виды полисов</a></h1>
        <p style="color: lightgrey">———————</p>
        <h1 class="display-4"><a href="https://localhost:44393/Riskis" style="color: darkorange; text-decoration: none;">Риски</a></h1>
        <br><br><br><br><br><br>
    </div>
</body>